@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik+Doodle+Shadow&display=swap');



body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 400 16px 'Poppins', sans-serif;
}

#Container {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Calculator {
    width: 450px;
    height: 640px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 45px;
    background-color: black;
}

.Display {
    height: 180px;
    color: #fff;
    font-size: 70px;
    text-align: right;
    padding-right: 45px;
    padding-top: 40px;
    border-radius: 45px 45px 0px 0px;
}

#Container #Calculator .Buttons {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#Container #Calculator .Buttons .row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#Container #Calculator .Buttons .row .button {
    width: 80px;
    height: 77px;
    margin: 10px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: black;
    cursor: pointer;
}

#Container #Calculator .Buttons .row .button:hover {
    background-color: #ccc;
}

#Container #Calculator .Buttons .row .button:active {
    background-color: #aaa;
}

#Container #Calculator .Buttons .row #zero {
    width: 180px;
    border-radius: 50px;
    padding-right: 100px;
}

#Container #Calculator .Buttons .row #one,
#Container #Calculator .Buttons .row #two,
#Container #Calculator .Buttons .row #three,
#Container #Calculator .Buttons .row #four,
#Container #Calculator .Buttons .row #five,
#Container #Calculator .Buttons .row #six,
#Container #Calculator .Buttons .row #seven,
#Container #Calculator .Buttons .row #eight,
#Container #Calculator .Buttons .row #nine, 
#Container #Calculator .Buttons .row #decimal,
#Container #Calculator .Buttons .row #zero 
{
    background-color: #4e4b4b;
    color: #fff;
}

#Container #Calculator .Buttons .row #divide,
#Container #Calculator .Buttons .row #multiply,
#Container #Calculator .Buttons .row #subtract,
#Container #Calculator .Buttons .row #add,
#Container #Calculator .Buttons .row #equals {
    background-color: #ff9500;
    color: #fff;
}

#Container #Calculator .Buttons .row #clear,
#Container #Calculator .Buttons .row #plus-minus,
#Container #Calculator .Buttons .row #percent
{
    background-color: #a6a6a6;
    color: #fff;
}



